#page-orphanage {
    display: flex;
    background: var(--color-background);
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 3rem;
    height: 100%;
    background: #15C3D6;
}

header img {
    height: 8rem;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6.5rem;
    height: 6.5rem;
    border-radius: 2rem;
    background: #12AFCB;

    transition: background 200ms;
}

footer a:hover {
    background: #17D6EB;
}

footer a img {
    height: 3.5rem;
}

.container-orphanage {
    margin: 10rem auto;
    border-radius: 2rem;
    width: 40vw;
    height: 200vh;
    background: #FFF;

    border: 1px solid #D3E2E5;
}

.container-orphanage img {
    border-radius: 2rem 2rem 0 0;
    width: 40vw;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
}

.images img {
    width: 8rem;
    height: 8rem;
    border-radius: 2rem;
}

.orphanage-details {
    width: 100%;
    padding: 0 6rem;
    font-family: 'Nunito', sans-serif;
}

.orphanage-details h1 {
    color: var(--color-text-grey-dark);
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.orphanage-details p {
    color: var(--color-text-grey-dark);
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.orphanage-details a {
    text-decoration: none;
    color: var(--color-text-grey-dark);
    font-weight: 700;
    font-size: 1.6rem;

    display: flex;
    justify-content: center;

    background: #E6F7FB;
    border-radius: 0 0 2rem 2rem;
    border:1px solid var(--color-text-grey-light);
    padding: 2rem 0;
    margin-bottom: 7rem;

    transition: background .2s;
}

.orphanage-details a:hover {
    background: var(--color-text-grey-light);
}

.google-maps {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    border: 1px solid #8FA7B2;
}

.division {
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 7rem;
}

.instructions {
    color: var(--color-text-grey-dark);
    width: 95%;
}

.instructions h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.instructions p {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}