#page-landing {
    background: linear-gradient(329.54deg, #00C7C7 0%, #29B6D1 100%);
    color: var(--color-text-white);
    min-height: 100vh;
}

#container {
    margin: auto;
}

header {
    margin-bottom: 6rem;
}

.logo-container img {
    height: 5.7rem;
}

.cep {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
}

.container-happy {
    margin-bottom: 8rem;
}

#happy .container-happy h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    line-height: 3.8rem;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

#happy .container-happy p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button a {
    background: var(--color-yellow);
    padding: 2rem;
    border-radius: 2.6rem;
    outline: 0;
    transition: background .3s;
}

.container-button a:hover {
    color: #15C3D6;
    background: #96FEFF;
}

/* desktop */
@media (min-width: 760px) {

    #page-landing {
        background: linear-gradient(160.54deg, #00C7C7 0%, #29B6D1 100%);
    }
    
    #container {
        padding: 3.2rem 0;
        max-width: 1120px;
        height: 90vh;
        background: url("/images/bg.svg") no-repeat;
        background-position-x: 80%;
        margin: auto;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13rem;
    }

    .logo-container img {
        height: 7rem;
    }

    .cep {
        font-size: 2.2rem;
        text-align: end;
    }

    #happy {
        display: flex;
        justify-content: space-between;
    }

    .container-happy {
        text-align: initial;
        width: 350px;
        margin: 0;
    }

    #happy .container-happy h1 {
        font-size: 8.6rem;
        line-height: 7.5rem;
        margin-bottom: 4rem;
    }

    #happy .container-happy p {
        font-size: 2.5rem;
    }

    .container-button {
        align-items: flex-end;
    }
}