#page-orphanage {
    display: flex;
    background: var(--color-background);
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 3rem;
    height: 100%;
    background: #15C3D6;
}

header img {
    height: 7rem;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6.5rem;
    height: 6.5rem;
    border-radius: 2rem;
    background: #12AFCB;

    transition: background 200ms;
}

footer a:hover {
    background: #17D6EB;
}

footer a img {
    height: 3.5rem;
}

.container-orphanage {
    margin: 8rem auto;
    border-radius: 2rem;
    width: 40vw;
    height: max-content;
    background: #FFF;

    border: 1px solid #D3E2E5;
}

.container-orphanage img {
    border-radius: 2rem 2rem 0 0;
    width: 40vw;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
}

.image1 {
    width: 8rem;
    height: 8rem;
    background-image: url(/images/image\ 1.png);
    border-radius: 2rem;
}

.image2 {
    width: 8rem;
    height: 8rem;
    background-image: url(/images/image\ 2.png);
    border-radius: 2rem;
}

.image3 {
    width: 8rem;
    height: 8rem;
    background-image: url(/images/image\ 5.png);
    border-radius: 2rem;
}

.image4 {
    width: 8rem;
    height: 8rem;
    background-image: url(/images/image\ 3.png);
    border-radius: 2rem;
}

.image5 {
    width: 8rem;
    height: 8rem;
    background-image: url(/images/image\ 6.png);
    border-radius: 2rem;
}

.image6 {
    width: 8rem;
    height: 8rem;
    background-image: url(/images/image\ 4.png);
    border-radius: 2rem;
}

.orphanage-details {
    width: 100%;
    padding: 0 6rem;
    font-family: 'Nunito', sans-serif;
}

.orphanage-details h1 {
    color: var(--color-text-grey-dark);
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.orphanage-details p {
    color: var(--color-text-grey-dark);
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.orphanage-details a.button-google-maps {
    text-decoration: none;
    color: var(--color-text-grey-dark);
    font-weight: 700;
    font-size: 1.6rem;

    display: flex;
    justify-content: center;

    background: #E6F7FB;
    border-radius: 0 0 2rem 2rem;
    border:1px solid var(--color-text-grey-light);
    padding: 2rem 0;
    margin-bottom: 7rem;

    transition: background .2s;
}

.orphanage-details a.button-google-maps:hover {
    background: var(--color-text-grey-light);
}

.google-maps {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    border: 1px solid #8FA7B2;
}

.division {
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 7rem;
}

.instructions {
    color: var(--color-text-grey-dark);
    width: 100%;
}

.instructions h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.instructions p {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 2.8rem;
}

.container-visits-instructions {
    display: flex;
    
    margin-bottom: 5rem;
}

.visits {
    display: flex;
    flex-direction: column;

    border-radius: 2rem;
    background: linear-gradient(149.97deg, #E6F7FB 8.13%, #FFFFFF 92.67%);
    border: 1px solid #B3DAE2;

    width: 50%;
    margin-right: 2rem;
}

.visits-content {
    padding: 2rem 0 0 2rem;
}

.visits-content img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}

.visits-content p {
    font-size: 1.6rem;
    color: #5C8599;
    line-height: 2.8rem;
}

.attendance {
    display: flex;
    flex-direction: column;

    border-radius: 2rem;
    background: linear-gradient(154.16deg, #EDFFF6 7.85%, #FFFFFF 91.03%);
    border: 1px solid #A1E9C5;

    width: 50%;
}

.attendance-content {
    padding: 2rem 0 0 2rem;
}

.attendance-content img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}

.attendance-content p {
    font-size: 1.6rem;
    color: #37C77F;
    line-height: 2.8rem;
}

a.button-wpp {
    background: #3CDC8C;
    border-radius: 2rem;

    text-decoration: none;
    color: var(--color-text-white);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    font-weight: 800;

    height: 6rem;
    margin-bottom: 7rem;

    transition: background .2s;
}

a.button-wpp img {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
}

a.button-wpp:hover {
    background: #37C77F;
}